<div id="fondo-modal-image" [class.hide]='modalService.hideModal'>

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Cargar imágen</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="closeModal()"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <h3>Seleccione una imagen</h3>

                    <div class="text-center">
                        <img [src]="modalService.img" alt="profile-pic" class="edit-profile-pic">
                    </div>

                    <br>

                    <input type="file" (change)="changeImage($event.target.files[0])">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="closeModal()">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="updateImage()">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

</div>